.section-body-copy {
    --gap: var(--margin-large);
    display: grid;
    gap: var(--gap);
    padding-block: var(--gap);
    justify-items: center;
}

.section-body-copy .body-copy {
    gap: 2em;
}

.section-body-copy .column-count-2 {
    columns: 2;
}

.section-body-copy .column-count-3 {
    columns: 3;
}

.section-body-copy .column-count-4 {
    columns: 4;
}

.section-body-copy .column-count-5 {
    columns: 5;
}

.section-body-copy .column-count-6 {
    columns: 6;
}
